<div class="container" height="100%" width="50%">
<header-directive></header-directive>
  <div class="row">
    <div class="container-fluid" height="100%">
      <!-- <ui-view></ui-view> -->
      <router-outlet></router-outlet>
    </div>
  </div>
<footer-directive></footer-directive>
</div>

<!-- <header-directive></header-directive>
<ui-view></ui-view>
<footer-directive></footer-directive>
 -->

<!-- <a uiSref="profile" uiSrefActive="active">Hello</a> -->
<a routerLink="/profile">Profile</a>

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>


