Sign up
<a routerLink="/profile">Profile</a>
<div class="row">
	<button type="button" class="btn btn-primary btn-lg">Twitter</button>
</div>
<div class="row">
	<button type="button" class="btn btn-primary btn-lg">Facebook</button>
</div>
<hr>
<div class="row">
	<div class="col">
		<div class="form-group">
			<label for="exampleInputEmail1">とりあえず試してみる</label>
			<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="お名前などを入力" (click)="tryButtonPressed()">
  </div>
	</div>
</div>
<div class="row">
	<button type="submit" class="btn btn-primary btn-lg" routerLink="/profile">とりあえず試してみる</button>
</div>
